In [1]:
# Membership operator

list_of_aircrafts = ["rafale", "su30", "tejas", "miraj", "mig27", "eurofighter", "m-15"]

result = "m-15" in list_of_aircrafts
print(result)

True

In [2]:
result = "m" in "m-15"

In [3]:
print(result)

True

In [4]:
# Identitiy Operator

a = [1,2]
b = a

print(a is b)

True

In [5]:
a = "mango"
b = "mango"

print(a is b)

True

In [7]:
a = "mango"
b = "apple"

print(a is b)

False

In [9]:
# application form

username = input("Give me a Username")

email = input("Please Enter your email Id now")

class_name = input("Please Enter Your Class")

book_to_issue = input("Please give me the sn no of the book")


print(f"Book Issued Successfully!")

Give me a Username Shankar
Please Enter your email Id now shankar@gmail.com
Please Enter Your Class 12
Please give me the sn no of the book 334455

Book Issues Successfully!

In [13]:
# Strings

x = "Mohit is my name"

y = """Mohit is my name"""

z = 'Rohit is my brother'
print(type(x), type(y), type(z))

<class 'str'> <class 'str'> <class 'str'>

In [14]:
# Strings

x = "Give me a Username Shankar
Please Enter your email Id now shankar@gmail.com
Please Enter Your Class 12
Please give me the sn no of the book 334455
Book Issues Successfully!"

SyntaxError: unterminated string literal (detected at line 3) (893117937.py, line 3)

In [15]:

y = """Give me a Username Shankar
Please Enter your email Id now shankar@gmail.com
Please Enter Your Class 12
Please give me the sn no of the book 334455
Book Issues Successfully!"""

In [16]:

z = 'Give me a Username Shankar
Please Enter your email Id now shankar@gmail.com
Please Enter Your Class 12
Please give me the sn no of the book 334455
Book Issues Successfully!'

SyntaxError: unterminated string literal (detected at line 1) (1950798993.py, line 1)

In [17]:
# For multiple line strings, use triple quotes.

In [18]:

z = "Give me a User's name Shankar"
a = 'Mohit is "happy'

In [19]:
# Basic Operations of Strings:

# 1) Length of String:- len("mango")

In [20]:
len("mango")

5

In [21]:
# 2. Slicing

text = "Rafale is a fighter jet"

result = text[0:5]
print(result)

Rafal

In [22]:
# 3) Concatenation


text1 = "mango"
text2 = " is a good fruit"

print(text1 + text2)

mango is a good fruit

In [23]:
result = text1 + text2
print(result)

mango is a good fruit

In [25]:
text = "Python"

result = text.upper()
result2 = text.lower()

print(result, result2)

PYTHON python

In [ ]:
x = " Hello   "

print(len(x))

# y = x.count("ll")
y = x.strip()

print(y, len(y))

z = x.lstrip()

print(z, len(z))

In [26]:
text = "Ronaldo is a good football player"

text2 = text.replace("Ronaldo", "Messi")

print(text2)

Messi is a good football player

In [27]:
# print('hello world')
x = "#@#$"
y = "Tango"


print(x.isalpha())

print(y.isalpha())

False
True

# First Program Exercise

### Take Marks for each subject like Maths and English. 
### Print the Result of the Student whether he passed or failed. Percentage should be > 33.

In [30]:
# 7: 56

# Type Casting:- convert 1 form of data type into another.


actual_total = 200

english_marks = int(input("English Marks"))

maths_marks = int(input("Match Marks"))

total = english_marks + maths_marks

percentage = (total/actual_total)*100

if percentage > 33:
    print("Passed")
else:
    print("Failed")

English Marks 48
Match Marks 54

Passed

# Conditional statements (if, elif, else)

In [32]:
x = 100

if x > 200:
    print("happy")
else:
    print("sad")

sad

In [35]:
x = 300

if x > 200:
    print("happy")
    print("happy happy happy")
else:
    print("sad")

happy
happy happy happy

In [38]:
x = 300

if x > 200:
    print("happy")
    print("happy happy happy")
elif x == 300:
    print('wow I am here')
else:
    print("sad")

print('Hey I am after the if else conditions')

happy
happy happy happy
Hey I am after the if else conditions

In [39]:
x = 300

if x < 200:
    print("happy")
    print("happy happy happy")
elif x == 300:
    print('wow I am here')
else:
    print("sad")

print('Hey I am after the if else conditions')

wow I am here
Hey I am after the if else conditions

In [44]:
x = "The quick brown fox has 2 children"

if "56" in x:
    print("happy")
    print("happy happy happy")
elif x == 300:
    print('wow I am here')
elif "2" in x:
    print('happy that I found 2')
else:
    print("sad")

print('Hey I am after the if else conditions')

happy that I found 2
Hey I am after the if else conditions

In [49]:
# 4 spaces here are indentation which is used to separate or notify a code block

x = 2
if x == 4:
    print('x is 4')

print('party')

if x == 2:
    print('x is 2')

party
x is 2

In [51]:
# type casting
x = "43"
y = int(x)

print(type(x), type(y))

<class 'str'> <class 'int'>

In [56]:
# Count the no of times a specific character appears in a string.

text1 = "The quick brown fox jumps over a lazy dog"

# since I have to store a mapping of character to the count, dict is a good choice to use.


dictionary1 = {}

for char in text1:
    if dictionary1.get(char):
        dictionary1[char] = dictionary1.get(char) + 1
    else:
        dictionary1[char] = 1

print(dictionary1)

{'T': 1, 'h': 1, 'e': 2, ' ': 8, 'q': 1, 'u': 2, 'i': 1, 'c': 1, 'k': 1, 'b': 1, 'r': 2, 'o': 4, 'w': 1, 'n': 1, 'f': 1, 'x': 1, 'j': 1, 'm': 1, 'p': 1, 's': 1, 'v': 1, 'a': 2, 'l': 1, 'z': 1, 'y': 1, 'd': 1, 'g': 1}

In [55]:
dictionary1 = {"m": 35}

dictionary1.get("m") is True

False

## LOOPS

In [57]:
# FOR LOOP

aircrafts = ["rafale", "su30", "tejas", "miraj", "mig27", "eurofighter", "m-15"]

for air_craft_name in aircrafts:
    print(air_craft_name)

rafale
su30
tejas
miraj
mig27
eurofighter
m-15

In [65]:
numbers = [34, 45, 123, 554]

for num in numbers:
    print(num+1000)
    print("mango")
    print('happy')

print('The list is completed')
    # print('happy')

1034
mango
happy
1045
mango
happy
1123
mango
happy
1554
mango
happy
The list is completed

In [66]:
numbers = [34, 45, 123, 554]

sum_of_numbers = 0

for num in numbers:
    sum_of_numbers = sum_of_numbers + num
    print(f"current sum_of_numbers = {sum_of_numbers}")

print(sum_of_numbers)

current sum_of_numbers = 34
current sum_of_numbers = 79
current sum_of_numbers = 202
current sum_of_numbers = 756
756

In [70]:
numbers = [34, 45, 123, 554]

sum_of_numbers = 0

for num in numbers:
    print(num)
    # sum_of_numbers += num
    # print(f"current sum_of_numbers = {sum_of_numbers}")

# print(sum_of_numbers)

34
45
123
554

In [ ]:
numbers = [34, 45, 123, 554]

sum_of_numbers = 0

for num in numbers:
    sum_of_numbers = sum_of_numbers + num
    print(f"current sum_of_numbers = {sum_of_numbers}")

print(sum_of_numbers)

In [ ]:
numbers = [34, 45, 123, 554]

sum_of_numbers = 0

for num in numbers:
    print(num)
    # sum_of_numbers += num
    # print(f"current sum_of_numbers = {sum_of_numbers}")

# print(sum_of_numbers)

In [71]:
# Slicing in Lists

numbers = [34, 45, 123, 554]

sum_of_numbers = 0

for num in numbers[0:2]:
    print(num)

# print(sum_of_numbers)

34
45

In [77]:
# Finding out the maximum Number
# Homework: Find out the minimum Number

numbers = [340, 45, 123, 554]

maximum_number = float('-inf')

for num in numbers:
    print('num', num)
    if num > maximum_number:
        maximum_number = num
    print('now max num is', maximum_number)

print(maximum_number)

num 340
now max num is 340
num 45
now max num is 340
num 123
now max num is 340
num 554
now max num is 554
554

In [73]:
maximum_number = float('inf')
print(maximum_number)

inf

In [78]:
# Finding out the maximum Number
# Homework: Find out the minimum Number

numbers = [340, 45, 123, 554]

if len(numbers) != 0:
    maximum_number = numbers[0]

for num in numbers:
    print('num', num)
    if num > maximum_number:
        maximum_number = num
    print('now max num is', maximum_number)

print(maximum_number)

num 340
now max num is 340
num 45
now max num is 340
num 123
now max num is 340
num 554
now max num is 554
554

In [79]:
# comment for humans and not for machine
# docstring is multi line comment

"""
This is also a comment but a multiline 1.
Line 2
Line 3
"""

'\nThis is also a comment but a multiline 1.\nLine 2\nLine 3\n'