In [6]:
# Installing Python on your system
# Different systems install python differently

# Link to download python (3.10) -> https://www.python.org/downloads/

# Code Editor -> Pycharm Community Version, Visual Code, Jupyter Notebook

# Jupyter notebook:-
pip install notebook
jupyter notebook

# Beginner friendly:-
1. Python 3.10, https://www.python.org/downloads/
2. Jupyter Notebook,  pip install notebook on your command prompt after you're done installing python.
3. command to open notebook:- jupyter notebook



If you want to do coding online:- https://www.programiz.com/python-programming/online-compiler/

In [7]:
print("hello world")

hello world

In [17]:
aircrafts = ["rafale", "su30", "tejas", "miraj", "mig27", "eurofighter", "m-15"]

for air_craft in aircrafts:
    if air_craft[0] == "m":
        print(air_craft)

miraj
mig27
m-15

In [13]:
aircrafts

['rafale', 'su30', 'tejas', 'miraj', 'mig27', 'eurofighter']

In [16]:
print(x)

300

In [15]:
print('Hi I am learning Python')

x = 300

Hi I am learning Python

In [ ]:
English Grammar teaches us syntax of using English

Correct Sentence :- My Name is Mohit Chouhan

Wrong Sentence :- Name Mohit Chouhan is My

Python Interpreter acts as a grammar nazy and it will result in an error if you write in a bad syntax.

print('hello world')

In [19]:
print('I wished I could be a Suadron Leader myself!')

I wished I could be a Suadron Leader myself!

In [20]:
pirnt("I want to learn python so that I can program drone chips to design their behaviour and control them better")

NameError: name 'pirnt' is not defined

In [22]:
# Data Types

Milk & Water can be stored in Bottle

Rice can be stored in Bowl

Chapatai/Roti can be stored in HotCase

In [ ]:
# Data Types in Python (Containers)

1. int :- Numbers with signs and without decimals
2. float:- Numbers with decimals
3. bool:- True or False
4. str:- "Shankar", "The quick lazy fox jumps over a crazy dog"


5. list:- [] - empty list
          ["rafale", "su30", "tejas", "miraj", "mig27", "eurofighter", "m-15"] - list with 7 str
6. tuple:- ('apple', 'mango') - tuple of 2 str
            (True, False, 23, 45.23) tuple of mixed data types
7. dict:- {"Mohit" : False, "Shankar": True, "Prince" : True, "Senthil": True} - mapping of key value

In [23]:
x = 3.4

In [24]:
type(x)

float

In [25]:
x = 3
x is just a name
3 is an integer object in memory(RAM)

In [26]:
type(x)

int

In [27]:
x = -5
type(x)

int

In [28]:
x = -5.5
type(x)

float

In [ ]:
y = 3

In [29]:
true

NameError: name 'true' is not defined

In [30]:
True

True

In [31]:
len(["rafale", "su30", "tejas", "miraj", "mig27", "eurofighter", "m-15"])

7

In [35]:
exam_results = {"Mohit" : False, "Shankar": True, "Prince" : True, "Senthil": True, "Rohit": False}



for person, result in exam_results.items():
    if result == True:
        print(f"{person} passed the exam")
    else:
        print(f"{person} failed the exam")

Mohit failed the exam
Shankar passed the exam
Prince passed the exam
Senthil passed the exam
Rohit failed the exam

In [ ]:
# Variables and operators

names are Variables.

a = 45.45

a is a Variable.

In [36]:
a = 45

In [37]:
a

45

In [38]:
a = 67

In [39]:
a

67

In [40]:
# Operators

# 1. Airthmetic:- +, -, *, /
x = 4+5
y = 5-4
z = 4*5
a = 20/5

# 2. Assignment Operator:- = , 
=
-=
+=

In [41]:
4+5

9

In [44]:
x = 4+5
y = 5-4
z = 4*5
a = 20/5

In [45]:
x

9

In [46]:
print(x,y)

9 1

In [47]:
print(z, a, "mango")

20 4.0 mango

In [48]:
x = 9  #mohits bank account money
x += 3
print(x)

12

In [50]:
# x = x + 3
# is written in shortcut fancy manner like x += 3

In [51]:
x = 9
x = x + 3
print(x)

12

In [52]:
x -= 5
print(x)

7